body{
  background-color: rgba(255, 114, 13, 0.908);
}
.menu {
    width: 8%;
    height: 5%;
    background-color: rgba(148, 0, 168, 0.808);
    border: 1px solid black;
    box-shadow: 2px 3px 4px black;
    border-radius: 0px 10px;
    cursor: pointer;
    padding: 5px;
    float: left;
    text-align: center;
}

.menu:hover {
    background-color: rgba(28, 103, 0, 0.993);
    box-shadow: 5px 6px 7px black;
    border-radius: 10px 0px;
    color: white;
}
#somos{
  background-color: rgba(255, 68, 0, 0.993);
  box-shadow: 5px 6px 7px black;
  color: white;
}
#enlaces{
  background-color: rgba(255, 68, 0, 0.993);
  box-shadow: 5px 6px 7px black;
  color: white;
}
.paginas{
  width: 80%;
  position:absolute;
  top: 300px;
  margin: 10px;
  background-color: rgba(148, 0, 168, 0.500);
  padding: 20px;

  /*display: none;*/
}
.mostrar{

}
